<?xml version="1.0"?>
<config>
  <modules>
    <plumrocket_faq>
      <version>0.1.0</version>
    </plumrocket_faq>
  </modules>
  <frontend>
    <routers>
      <faq>
        <use>standard</use>
          <args>
            <module>Plumrocket_FAQ</module>
            <frontName>faq</frontName>
          </args>
      </faq>
    </routers>
		<layout>
		  <updates>
			<faq>
			  <file>faq.xml</file>
			</faq>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <faq>
        <class>Plumrocket_FAQ_Helper</class>
      </faq>
    </helpers>
	<blocks>
	  <faq>
		<class>Plumrocket_FAQ_Block</class>
	  </faq>
	</blocks>
	<models>
	  <faq>
	  	<class>Plumrocket_FAQ_Model</class>
		<resourceModel>faq_resource</resourceModel>
	  </faq>
	  <faq_resource>
	    <class>Plumrocket_FAQ_Model_Mysql4</class>
		<entities>
          <post>
            <table>plumrocket_faq_post</table>
          </post>
        </entities>
      </faq_resource>
	</models>
    <resources>
      <faq_setup>
        <setup>
          <module>Plumrocket_FAQ</module>
        </setup>
      </faq_setup>
    </resources>
  </global>
  <admin>
	<routers>
	  <faq>
	    <use>admin</use>
		<args>
		  <module>Plumrocket_FAQ</module>
		  <frontName>admin_faq</frontName>
		</args>
	  </faq>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <faq module="faq">
	  	<title>Plumrocket</title>
		<sort_order>9999</sort_order>
		<children>
		  <faq_menu translate="title" module="faq">
			<title>FAQ</title>
			<sort_order>0</sort_order>
			<action>admin_faq/adminhtml_faqbackend</action>
		  </faq_menu>
		</children>
	  </faq>
	  <system>
		  <children>
			  <tools>
				<children>
					<faq_menu translate="title" module="faq">
						<title>FAQ</title>
						<sort_order>0</sort_order>
						<action>admin_faq/adminhtml_faqbackend</action>
					</faq_menu>
				</children>
			  </tools>
		  </children>
	  </system>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<plumrocket translate="title" module="faq">
			  <title>FAQ</title>
			  <sort_order>1000</sort_order>
			  <children>
				<faqbackend translate="title">
				  <title>Backend Page Title</title>
				</faqbackend>
			  </children>
			</plumrocket>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<faq>
		  <file>faq.xml</file>
		</faq>
	  </updates>
	</layout>
  </adminhtml>
</config>